# Descripción de la base de datos

Tomado de [aquí](http://lisp.vse.cz/pkdd99/Challenge/berka.htm).

## Relaciones

<img src="../imagenes/data.gif"/>

## Descripción de las tablas

The data about the clients and their accounts consist of following relations:

* relation account (4500 objects in the file ACCOUNT.ASC) - each record describes static characteristics of an account,
* relation client (5369 objects in the file CLIENT.ASC) - each record describes characteristics of a client,
* relation disposition (5369 objects in the file DISP.ASC) - each record relates together a client with an account i.e. this relation describes the rights of clients to operate accounts,
* relation permanent order (6471 objects in the file ORDER.ASC) - each record describes characteristics of a payment order,
* relation transaction (1056320 objects in the file TRANS.ASC) - each record describes one transaction on an account,
* relation loan (682 objects in the file LOAN.ASC) - each record describes a loan granted for a given account,
* relation credit card (892 objects in the file CARD.ASC) - each record describes a credit card issued to an account,
* relation demographic data (77 objects in the file DISTRICT.ASC) - each record describes demographic characteristics of a district.

Each account has both static characteristics (e.g. date of creation, address of the branch) given in relation "account" and dynamic characteristics (e.g. payments debited or credited, balances) given in relations "permanent order" and "transaction". Relation "client" describes characteristics of persons who can manipulate with the accounts. One client can have more accounts, more clients can manipulate with single account; clients and accounts are related together in relation "disposition". Relations "loan" and "credit card" describe some services which the bank offers to its clients; more credit cards can be issued to an account, at most one loan can be granted for an account. Relation "demographic data" gives some publicly available information about the districts (e.g. the unemployment rate); additional information about the clients can be deduced from this.

## Descripción de los campos

<H3>Relation account</H3>
<TABLE CELLSPACING=0 BORDER CELLPADDING=4 WIDTH=85%>
<TR><TH>item</TH><TH>meaning</TH><TH>remark</TH></TR>
<TR><TD>account_id</TD><TD>identification of the account</TD><TD> </TD></TR>
<TR><TD>district_id</TD><TD>location of the branch</TD><TD> </TD></TR>
<TR><TD>date</TD><TD>date of creating of the account</TD><TD>in the form
YYMMDD</TD></TR>
<TR><TD>frequency</TD><TD>frequency of issuance of statements</TD>
<TD>"POPLATEK MESICNE" stands for monthly issuance</P>
"POPLATEK TYDNE" stands for weekly issuance</P>
"POPLATEK PO OBRATU" stands for issuance after transaction</TD>
</TR>
</TABLE>
&nbsp;
&nbsp;
&nbsp;
 
<H3>Relation client</H3>
<TABLE CELLSPACING=0 BORDER CELLPADDING=4 WIDTH=85%>
<TR><TH>item</TH><TH>meaning</TH><TH>remark</TH></TR>
<TR><TD>client_id</TD><TD>client identifier</TD><TD></TD></TR>
<!-- <FONT SIZE=2> -->
<P>
<TR><TD>birth number</TD><TD>birthday and sex</TD>
<TD>the number is in the form YYMMDD for men,<BR>
the  number is in the form YYMM+50DD for women,<BR>
<P>where YYMMDD is the date of birth</TD>
</TR>
<TR><TD>district_id</TD><TD>address of the client</TD><TD></TD></TR>
</TABLE>
&nbsp;
&nbsp;
&nbsp;
 
<H3>Relation disposition</H3>
<TABLE CELLSPACING=0 BORDER CELLPADDING=4 WIDTH=85%>
<TR><TH>item</TH><TH>meaning</TH><TH>remark</TH></TR>
<TR><TD>disp_id</TD><TD>record identifier</TD><TD></TD></TR>
<TR><TD>client_id</TD><TD>identification of a client</TD><TD></TD></TR>
<TR><TD>account_id</TD><TD>identification of an account</TD><TD></TD></TR>
<TR><TD>type</TD><TD>type of disposition (owner/user)</TD>
<TD>only owner can issue permanent orders and ask for a loan</TD></TR>
</TABLE>
&nbsp;
&nbsp;
&nbsp;

<H3>Relation permanent order (debits only)</H3>
<TABLE CELLSPACING=0 BORDER CELLPADDING=4 WIDTH=85%>
<TR><TH>item</TH><TH>meaning</TH><TH>remark</TH></TR>
<TR><TD>order_id</TD><TD>record identifier</TD><TD></TD></TR>
<TR><TD>account_id</TD><TD>account, the order is issued
for</TD><TD></TD></TR>
<TR><TD>bank_to</TD><TD>bank of the recipient</TD>
<TD>each bank has unique two-letter code</TD></TR>
<TR><TD>account_to</TD><TD>account of the recipient</TD><TD></TD></TR>
<TR><TD>amount</TD><TD>debited amount</TD><TD></TD></TR>
<TR><TD>K_symbol</TD><TD>characterization of the payment</TD>
<TD>
"POJISTNE" stands for insurrance payment</P>
"SIPO" stands for household payment</P>
"LEASING" stands for leasing</P>
"UVER" stands for loan payment</p>
</TD>
</TR>
</TABLE>
&nbsp;
&nbsp;
&nbsp;
 
<H3>Relation Transaction</H3>
<TABLE CELLSPACING=0 BORDER CELLPADDING=4 WIDTH=85%>
<TR><TH>item</TH><TH>meaning</TH><TH>remark</TH></TR>
<TR><TD>trans_id</TD><TD>record identifier</TD><TD></TD></TR>
<TR><TD>account_id</TD><TD>account, the transation deals
with</TD><TD></TD></TR>
<TR><TD>date</TD><TD>date of transaction</TD><TD>in the form
YYMMDD</TD></TR>
<TR><TD>type</TD><TD>+/- transaction</TD>
<TD>"PRIJEM" stands for credit</P>"VYDAJ" stands for withdrawal</TD></TR>
<TR><TD>operation</TD><TD>mode of  transaction</TD>
<!-- <FONT SIZE=2> -->
<P>
<TD>
"VYBER KARTOU" credit card withdrawal</P>
"VKLAD" credit in cash</P>
"PREVOD Z UCTU" collection from another bank</P>
"VYBER" withdrawal in cash</P>
"PREVOD NA UCET" remittance to another bank</TD>
</TR>
<TR><TD>amount</TD><TD>amount of money</TD><TD></TD></TR>
<TR><TD>balance</TD><TD>balance after transaction</TD></TR>
<TR><TD>k_symbol</TD><TD>characterization of the transaction</TD>
<TD>
"POJISTNE" stands for insurrance payment</P>
"SLUZBY" stands for payment for statement</P>
"UROK" stands for interest credited</P>
"SANKC. UROK" sanction interest if negative balance</P>
"SIPO" stands for household</P>
<!-- 'SOC. DAVKA' stands for unemployment compensation or old-age
pension</P> -->
"DUCHOD" stands for old-age pension</P>
<!-- 'LEASING' stands for leasing</P> -->
"UVER" stands for loan payment</p>
</TD>
</TR>
<TR><TD>bank</TD><TD>bank of the partner</TD>
<TD>each bank has unique two-letter code</TD></TR>
<TR><TD>account</TD><TD>account of the partner</TD><TD></TD></TR>
</TABLE>
&nbsp;
&nbsp;
&nbsp;
 
<H3>Relation Loan</H3>
<TABLE CELLSPACING=0 BORDER CELLPADDING=4 WIDTH=85%>
<TR><TH>item</TH><TH>meaning</TH><TH>remark</TH></TR>
<TR><TD>loan_id</TD><TD>record identifier</TD><TD></TD></TR>
<TR><TD>account_id</TD><TD>identification of the account</TD><TD></TD></TR>
<TR><TD>date</TD><TD>date when the loan was granted</TD><TD> in the form
YYMMDD </TD></TR>
<!-- <TR><TD>purpose</TD><TD>purpose of the loan</TD><TD></TD></TR> -->
<TR><TD>amount</TD><TD>amount of money</TD><TD></TD></TR>
<TR><TD>duration</TD><TD>duration of the loan</TD><TD></TD></TR>
<TR><TD>payments</TD><TD>monthly payments</TD><TD></TD></TR>
<TR><TD>status</TD><TD>status of paying off the loan</TD>
<TD>'A' stands for contract finished, no problems,</p>
'B' stands for contract finished, loan not payed,</p>
'C' stands for running contract, OK so far,</p>
'D' stands for running contract, client in debt</TD>
<!-- <TD> possible values are "A", "B", "C", "D"</TD> -->
</TR>
</TABLE>
&nbsp;
&nbsp;
&nbsp;

<H3>Relation Credit card</H3>
<TABLE CELLSPACING=0 BORDER CELLPADDING=4 WIDTH=85%>
<TR><TH>item</TH><TH>meaning</TH><TH>remark</TH></TR>
<TR><TD>card_id</TD><TD>record identifier</TD><TD></TD></TR>
<TR><TD>disp_id</TD><TD>disposition to an account</TD><TD></TD></TR>
<TR><TD>type</TD><TD>type of card</TD>
<TD>possible values are "junior", "classic", "gold"</TD></TR>
<TR><TD>issued</TD><TD>issue date</TD><TD>in the form YYMMDD</TD></TR>
<!-- <TR><TD>expire</TD><TD>expiration date</TD><TD></TD></TR> -->
</TABLE>
&nbsp;
&nbsp;
&nbsp;

<H3>Relation Demographic data</H3>
<TABLE CELLSPACING=0 BORDER CELLPADDING=4 WIDTH=85%>
<TR><TH>item</TH>
<TH>meaning</TH>
<TH>remark</TH>
</TR>
<TR><TD>A1 = district_id</TD><TD>district code</TD><TD></TD></TR>
<TR><TD>A2</TD><TD>district name</TD><TD></TD></TR>
<TR><TD>A3</TD><TD>region</TD><TD></TD></TR>
<TR><TD>A4</TD><TD>no. of inhabitants</TD><TD></TD></TR>
<TR><TD>A5</TD><TD>no. of municipalities with inhabitants <
499</TD><TD></TD></TR>
<TR><TD>A6</TD><TD>no. of municipalities with inhabitants
500-1999</TD><TD></TD></TR>
<TR><TD>A7</TD><TD>no. of municipalities with inhabitants
2000-9999</TD><TD></TD></TR>
<TR><TD>A8</TD><TD>no. of municipalities with inhabitants
>10000</TD><TD></TD></TR>
<TR><TD>A9</TD><TD>no. of cities</TD><TD></TD></TR>
<TR><TD>A10</TD><TD>ratio of urban inhabitants</TD><TD></TD></TR>
<TR><TD>A11</TD><TD>average salary</TD><TD></TD></TR>
<TR><TD>A12</TD><TD>unemploymant rate '95</TD><TD></TD></TR>
<TR><TD>A13</TD><TD>unemploymant rate '96</TD><TD></TD></TR>
<TR><TD>A14</TD><TD>no. of enterpreneurs per 1000
inhabitants</TD><TD></TD></TR>
<TR><TD>A15</TD><TD>no. of commited crimes '95</TD><TD></TD></TR>
<TR><TD>A16</TD><TD>no. of commited crimes '96</TD><TD></TD></TR>
</TABLE>

# Ejercicio

Con lo aprendido en la introducción haremos lo siguiente:

1. Lee los archivos y colocalos en diferentes `RDD`
2. Limpia los DataFrames (observa la sección siguiente para darte una idea de como)
2. Revisa bien la imagen arriba ¿Puedes imaginar tener una sola fuente de datos?
3. Coloca cada `RDD` en una tabla temporal
4. Realiza `queries` para ver que todo esté bien cargado.
5. Une las tablas en una nueva usando `SQL` ¿Se te ocurre otra manera de hacerlo?
6. Lluvia de ideas para realizar análisis
7. Lluvia de ideas para visualizaciones

## Intermezzo: Funciones dentro de SQL

In [1]:
clients = sqlContext.read.format('com.databricks.spark.csv').\
                options(header='true', delimiter=';').\
                load("data/data_berka/client.asc")

In [2]:
clients.count()

5369

In [3]:
clients.printSchema()

root
 |-- client_id: string (nullable = true)
 |-- birth_number: string (nullable = true)
 |-- district_id: string (nullable = true)

In [4]:
clients.take(10)

[Row(client_id='1', birth_number='706213', district_id='18'),
 Row(client_id='2', birth_number='450204', district_id='1'),
 Row(client_id='3', birth_number='406009', district_id='1'),
 Row(client_id='4', birth_number='561201', district_id='5'),
 Row(client_id='5', birth_number='605703', district_id='5'),
 Row(client_id='6', birth_number='190922', district_id='12'),
 Row(client_id='7', birth_number='290125', district_id='15'),
 Row(client_id='8', birth_number='385221', district_id='51'),
 Row(client_id='9', birth_number='351016', district_id='60'),
 Row(client_id='10', birth_number='430501', district_id='57')]

Observando la documentación, nos damos cuenta la variable `birth_number` viene en formato `YY MM DD` si es hombre, y `YY MM+50 DD` si es mujer.

En `python` la manera de extraer caracteres de una cadena es con el operador de `slice`:

In [5]:
'706213'[0:2]

'70'

In [6]:
'706213'[2:4]

'62'

In [7]:
'706213'[4:]

'13'

Ahora definimos algunas funciones auxiliares para obtener la fecha de nacimiento y el género del cliente.

In [8]:
def year_of_birth(birth_number):
    return int(birth_number[:2])

def month_of_birth(birth_number):
    maybe_is_a_month = int(birth_number[2:4])
    return maybe_is_a_month if maybe_is_a_month - 50 < 0 else maybe_is_a_month - 50 

def day_of_birth(birth_number):
    return int(birth_number[4:])

def extract_gender(birth_number):
    maybe_is_a_month = int(birth_number[2:4])
    return 'M' if maybe_is_a_month - 50 < 0 else 'F'

In [9]:
year_of_birth('706213')

70

In [10]:
month_of_birth('706213')

12

In [11]:
day_of_birth('706213')

13

In [12]:
extract_gender('706213')

'F'

Para poder usarlas en el `Spark DataFrame` debemos registrarlas

In [13]:
from pyspark.sql.types import IntegerType
from pyspark.sql.types import StringType

In [14]:
sqlCtx.registerFunction('year_of_birth', year_of_birth, IntegerType())
sqlCtx.registerFunction('month_of_birth', month_of_birth, IntegerType())
sqlCtx.registerFunction('day_of_birth', day_of_birth, IntegerType())
sqlCtx.registerFunction('extract_gender', extract_gender, StringType())

In [15]:
clients.registerTempTable('clients')

In [20]:
clients_clean = sqlCtx.sql('select client_id, district_id, year_of_birth(birth_number) as year_of_birth, month_of_birth(birth_number) as month_of_birth, day_of_birth(birth_number) as day_of_birth, extract_gender(birth_number) as gender from clients')

In [21]:
clients_clean.show()

+---------+-----------+-------------+--------------+------------+------+
|client_id|district_id|year_of_birth|month_of_birth|day_of_birth|gender|
+---------+-----------+-------------+--------------+------------+------+
|        1|         18|           70|            12|          13|     F|
|        2|          1|           45|             2|           4|     M|
|        3|          1|           40|            10|           9|     F|
|        4|          5|           56|            12|           1|     M|
|        5|          5|           60|             7|           3|     F|
|        6|         12|           19|             9|          22|     M|
|        7|         15|           29|             1|          25|     M|
|        8|         51|           38|             2|          21|     F|
|        9|         60|           35|            10|          16|     M|
|       10|         57|           43|             5|           1|     M|
|       11|         57|           50|             8|          22|     F|
|       12|         40|           81|             2|          20|     M|
|       13|         54|           74|             5|          29|     F|
|       14|         76|           42|             6|          22|     F|
|       15|         21|           18|             8|          28|     F|
|       16|         21|           19|             2|          25|     M|
|       17|         76|           34|            10|          13|     M|
|       18|         76|           31|             4|           5|     F|
|       19|         47|           42|            12|          28|     M|
|       20|         46|           79|             1|           4|     M|
+---------+-----------+-------------+--------------+------------+------+
only showing top 20 rows